# Dependencies
/vendor/
/node_modules/

# Environment
.env
.env.backup
.env.production

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
*.cache

# Composer
composer.lock

# Build
/build/
/dist/